
.wmk-arrow:before { content: '\e800'; } /* '' */
.wmk-back:before { content: '\e801'; } /* '' */
.wmk-branding:before { content: '\e802'; } /* '' */
.wmk-captivate:before { content: '\e803'; } /* '' */
.wmk-careers:before { content: '\e804'; } /* '' */
.wmk-collaborate:before { content: '\e805'; } /* '' */
.wmk-construct:before { content: '\e806'; } /* '' */
.wmk-corpcomm:before { content: '\e807'; } /* '' */
.wmk-digital:before { content: '\e808'; } /* '' */
.wmk-facebook:before { content: '\e809'; } /* '' */
.wmk-help:before { content: '\e80a'; } /* '' */
.wmk-inbound:before { content: '\e80b'; } /* '' */
.wmk-instagram:before { content: '\e80c'; } /* '' */
.wmk-linkedin:before { content: '\e80d'; } /* '' */
.wmk-outbound:before { content: '\e80e'; } /* '' */
.wmk-pinterest:before { content: '\e80f'; } /* '' */
.wmk-sales:before { content: '\e810'; } /* '' */
.wmk-twitter:before { content: '\e816'; } /* '' */
.wmk-watermark:before { content: '\e817'; } /* '' */
.wmk-youtube:before { content: '\e818'; } /* '' */